<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-card-content>
      <p>Welcome to PokeCards Viewer! There is a lot of cool stuff in here that lets you easily view your favorite cards.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy Policy</ion-card-title>
      <ion-card-subtitle>Terms of use</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>This app is not affiliated with The Pokemon Company or Nintendo. All intellectual property and images regarding The Pokemon Trading Card Game belongs to the respective owners. Data comes from the develop API at <a href="https://pokemontcg.io">PokemonTCG.io</a>.</p>
      <p>This app uses the Google AdMob service to display advertisements to users. Any data or tracking is through AdMob for ad placements. No user data is tracked or stored by this app, or shared to any third parties. Direct any questions or concerns to <a href="mailto:jazzyappscontact@gmail.com">jazzyappscontact@gmail.com</a>.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
