ion-badge {
    margin: auto 8px;
}

ion-toggle {
    width: 60px;
    // --background: gray !important;
    // --background-checked: gray !important;
}

// ion-toggle.toggle-icon {
//     background: gray !important;
// }

// ion-toggle.toggle-checked {
//     --background-checked: gray !important;
// }

ion-toggle.toggle-checked::before {
    position: absolute;

    top: 12px;
    left: 16px;

    content: "Order";

    color: white;
    font-size: 12px;

    z-index: 1;
}

ion-toggle::before {
    position: absolute;

    top: 12px;
    left: 40px;

    content: "Price";

    color: white;
    font-size: 12px;

    z-index: 1;
}

.loading-animation {
    background-image: url("../../assets/pokemon-loading.gif");
    background-position: center;
    display: block;
    margin: 20px auto 0;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    max-width: 100%;
}

.price-link {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 6px 0;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
